body {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right,
     #03091D 2%,
     #132059 44%,
     #03091D 77%); 
    color: #ffffff; 
}
.linea-horizontal {
    position: absolute;
    width: 10px;
    height: 40px;
    left: 0px;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email-linea{
    position: absolute;
    width: 130px;
    height: 24px;
    left: 120px;
    top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
}
.phone-linea{
    position: absolute;
    width: 108px;
    height: 24px;
    left: 320px;
    top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
}
.support-linea{
    position: absolute;
    width: 54px;
    height: 24px;
    left: 1000px;
    top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
}
.help-linea{
    position: absolute;
    width: 31px;
    height: 24px;
    left: 1200px;
    top: 9px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.8;
}
.content-home {
    position: absolute;
    width: 1330px;
    height: 80px;
    left: calc(50% - 1330px/2 + 1px);
    top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.hoster-menu{
    position: absolute;
    width: 95px;
    height: 22px;
    left: 112px;
    top: 29px;
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home-menu{
    position: absolute;
    width: 51px;
    height: 24px;
    left: 520px;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dominio-menu{
    position: absolute;
    width: 70px;
    height: 24px;
    left: 596px;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wh-menu{
    position: absolute;
    width: 109px;
    height: 24px;
    left: 686px;
    top: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.server-menu{
    position: absolute;
    width: 92px;
    height: 24px;
    left: 807px;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.seg-menu{
    position: absolute;
    width: 87px;
    height: 24px;
    left: 912px;
    top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.boton-login{
    position: absolute;
    width: 89px;
    height: 40px;
    left: 1112px;
    top: 22px;
    background: linear-gradient(91.24deg, 
    #FFFFFF -151.39%, 
    #CF088C 39.72%,
    #CF088C 60.99%, 
    #CF088C 80.28%, 
    #FFFFFF 231.81%);
    border-radius: 20px;  
}        
.home-txt{
    position: absolute;
    width: 805px;
    height: 254px;
    left: 134px;
    top: 331px;
}
.home-img{
    position: absolute;
    width: 500px;
    height: 450px;
    left: 842px;
    top: 201px;
}
.free-button{
    position: absolute;
    width: 188px;
    height: 48px;
    left: 50px;
    top: 120px;
    background: #CF088C;
    border-radius: 25px;
}
.plan-button{
    box-sizing: border-box;
    position: absolute;
    width: 188px;
    height: 48px;
    left: 250px;
    top: 120px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}
.dom-home{
    position: absolute;
    width: 1517px;
    height: 220px;
    left: 1px;
    top: 846px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.oferta-dom{
    position: absolute;
    width: 509px;
    height: 104px;
    left: 133px;
    top: 57px;
}
.o-text1-dom{
    position: absolute;
    width: 287px;
    height: 39px;
    left: 133px;
    top: -10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.o-text2-dom{
    position: absolute;
    width: 509px;
    height: 55px;
    left: 133px;
    top: 50px;
    opacity: 0.8;
}
.text-buscador-dom{
    position: absolute;
    width: 576px;
    height: 60px;
    left: 887px;
    top: 70px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.buscador-dom{
    position: absolute;
    width: 95px;
    height: 45px;
    left: 1350px;
    top: 80px;
    background: linear-gradient(91.24deg, 
    #FFFFFF -151.39%, 
    #CF088C 39.72%,
    #CF088C 60.99%, 
    #CF088C 80.28%, 
    #FFFFFF 231.81%);
    border-radius: 20px; 
}
.about{
    position: absolute;
    width: 617px;
    height: 48px;
    left: 491px;
    top: 1200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.about-text1{
    position: absolute;
    width: 1000px;
    height: 200px;
    left: -200px;
    top: -60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.9;
}
.about-text2{
    position: absolute;
    width: 471px;
    height: 32px;
    left: 70px;
    top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.9;
}
.about-client-boton{
    position: absolute;
    width: 100px;
    height: 110px;
    left: -50%;
    right: 84.06%;
    top: 300%;
    border-radius: 50%; 
    background:
    linear-gradient(225deg,rgba(212, 8, 140, 0.8) 14.64%, rgba(204, 8, 140, 0.8) 17.47%, rgba(133, 7, 138, 0.8) 47.17%, rgba(89, 6, 137, 0.8) 68.39%, rgba(72, 6, 137, 0.8) 79%);
}
.about-update-boton{
    position: absolute;
    width: 100px;
    height: 110px;
    left: -10%;
    right: 84.06%;
    top: 300%;
    border-radius: 50%; 
    background:
    linear-gradient(225deg,rgba(212, 8, 140, 0.8) 14.64%, rgba(204, 8, 140, 0.8) 17.47%, rgba(133, 7, 138, 0.8) 47.17%, rgba(89, 6, 137, 0.8) 68.39%, rgba(72, 6, 137, 0.8) 79%);
}
.about-server-boton{
    position: absolute;
    width: 100px;
    height: 110px;
    left: 30%;
    right: 84.06%;
    top: 300%;
    border-radius: 50%; 
    background:
    linear-gradient(225deg,rgba(212, 8, 140, 0.8) 14.64%, rgba(204, 8, 140, 0.8) 17.47%, rgba(133, 7, 138, 0.8) 47.17%, rgba(89, 6, 137, 0.8) 68.39%, rgba(72, 6, 137, 0.8) 79%);
}
.about-support-boton{
    position: absolute;
    width: 100px;
    height: 110px;
    left: 70%;
    right: 84.06%;
    top: 300%;
    border-radius: 50%; 
    background:
    linear-gradient(225deg,rgba(212, 8, 140, 0.8) 14.64%, rgba(204, 8, 140, 0.8) 17.47%, rgba(133, 7, 138, 0.8) 47.17%, rgba(89, 6, 137, 0.8) 68.39%, rgba(72, 6, 137, 0.8) 79%);
}
.about-cert-boton{
    position: absolute;
    width: 100px;
    height: 110px;
    left: 120%;
    right: 84.06%;
    top: 300%;
    border-radius: 50%; 
    background:
    linear-gradient(225deg,rgba(212, 8, 140, 0.8) 14.64%, rgba(204, 8, 140, 0.8) 17.47%, rgba(133, 7, 138, 0.8) 47.17%, rgba(89, 6, 137, 0.8) 68.39%, rgba(72, 6, 137, 0.8) 79%);
}